nav {
    background-color: lightgray;
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.navbar-brand {
    padding: 0;
    height: 30px;
}

body {
    background-color: rgb(201, 231, 241);
}